.Mui-disabled {
    display: none !important;
}

/* [data-field="__detail_panel_toggle__"] {
    display: none !important;
}
 */
/* .MuiDataGrid-row--detailPanelExpanded{
    display: none !important;
} */